@{
    ViewData["Title"] = "About Us";
}


<h1>Welcome to Gurpinder_Windows!</h1>

<h2>About Us</h2>
<p>We are a leading provider of high-quality windows,for residential, houses and commercial buildings. Our mission is to enhance the comfort and aesthetics of your space.</p>

<h2>Corporate Headquarters</h2>
<p>Our corporate headquarters is located in Windsor, Ontario, Canada. Situated in the heart of this beautiful city, our office is easily accessible and showcases a wide range of our window products.</p>
<address>
    123 xyz Street<br>
    Windsor, ON N9A 1A1<br>
    Canada
</address>

<h2>Our Staff</h2>
<p>At My Windows Company, we take pride in our dedicated team of professionals. Our staff consists of experienced window specialists, designers, engineers, and customer service. </p>

<h2>Contact Us</h2>
<p>If you have any questions or inquiries, please don't hesitate to reach out to us. Our customer support team is available to assist you. <br />You can contact us by phone at <a href="tel:1234567890">123-456-7890</a> or send us an email at <a href="mailto:info@gurpinderwindows.com">info@gurpinderwindows.com</a>.<br /> We look forward to hearing from you!</p>