@{
    ViewData["Title"] = "Home Page";
}

    <link href="~/css/index.css" rel="stylesheet" />

    <div class="main">
        <h1>Welcome to Gurpinder Windows</h1>
    </div>




    <div class="image-row">
        <div class="image">
            <img src="~/img/arched.jpeg" alt="Image 1">
            <div class="image-text">Arched Window</div>
        </div>
        <div class="image">
            <img src="~/img/awning.jpeg" alt="Image 2">
            <div class="image-text">Awning Window</div>
        </div>
        <div class="image">
            <img src="~/img/bay.jpeg" alt="Image 3">
            <div class="image-text">Bay Window</div>
        </div>
    </div>

    <div class="image-row">
        <div class="image">
            <img src="~/img/Casement.jpeg" alt="Image 4">
            <div class="image-text">Casement Window</div>
        </div>
        <div class="image">
            <img src="~/img/double-hung.jpeg" alt="Image 5">
            <div class="image-text">Double-hung Window</div>
        </div>
        <div class="image">
            <img src="~/img/garden.jpeg" alt="Image 6">
            <div class="image-text">Garden</div>
        </div>
    </div>

    <div class="image-row">
        <div class="image">
            <img src="~/img/hopper.jpeg" alt="Image 7">
            <div class="image-text">Hopper Window</div>
        </div>
        <div class="image">
            <img src="~/img/skylight.jpeg" alt="Image 8">
            <div class="image-text">Skylight Window</div>
        </div>
        <div class="image">
            <img src="~/img/sliding.jpeg" alt="Image 9">
            <div class="image-text">Sliding Window</div>
        </div>
    </div>


