body{
    background-color: gray;
}
h1 {
    font-size: 24px;
    color: rgb(235 118 19);
}

h2 {
    font-size: 18px;
    color: rgb(235 118 19);
    
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: white
}

address {
    font-style: italic;
    color: white
}


